name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/minimal-devops-app:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/minimal-devops-app:latest

      - name: Verify container
        run: |
          docker run -d -e APP_PORT=5000 -p 5000:5000 --name test-container ${{ secrets.DOCKER_USERNAME }}/minimal-devops-app:latest
          sleep 5
          curl http://localhost:5000/health
          docker stop test-container
          docker rm test-container

